{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<main>
    <section class="heading wrapper hidden">
        <h2>Buy {{ portfolio_item.stock.name }}</h2>
    </section>
    <section class="bottom hidden">
        <form method="post" class="wrapper orders col">
            {% csrf_token %}
            <p class="symbol paragraph">
                <span class="portfolio value">{{ portfolio_item.stock.symbol }}</span>
            </p>
            {{ form.as_p }}
            <button type="button" id="request-price" class="btn btn-primary"> Show Current Price</button>
            <button type="submit" class="btn btn-primary">Confirm Buy</button>
        </form>
    </section>
    <script src="{% static 'js/refreshPrice.js' %}"></script>
</main>
{% endblock %}