{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <section class="history-top wrapper actions">
        <h2>Portfolio Buys</h2>
        <p>Realised P&L: &dollar;{{ realised_pnl }}</p>
        <a href="{% url 'sales_details' profile_pk portfolio_pk %}" class="custom a">Sales History</a>
        <a href="{% url 'portfolio_details' portfolio_pk%}" class="custom a">Portfolio</a>
    </section>
    <section class="history-bottom wrapper actions">
        {% for buy in object_list %}
            <div class="history-inner wrapper actions">
                <div class="history-inner-left wrapper actions">
                    <p>Ticker Symbol: <span class="portfolio value">{{ buy.stock.symbol }}</span></p>
                    <p>Name: <span class="portfolio value">{{ buy.stock.name }}</span></p>
                    <p>Date: <span class="portfolio value">{{ buy.date }}</span></p>
                </div>
                <div class="history-inner-right wrapper actions">
                    <p>Shares: <span class="portfolio value">{{ buy.quantity_bought }}</span></p>
                    <p>Price: <span class="portfolio value">&dollar;{{ buy.buy_price }}</span></p>
                </div>
            </div>
        {% empty%}
            <p class="warning" style="color: #cccccc">No buys recorded!</p>
        {% endfor %}
    </section>
{% endblock %}