{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <h1>Portfolio</h1>
    <p>Value: &dollar;</p>
    <hr>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h3>Investments</h3>
        {% for item in object.portfolioitem_set.all %}
            <div style="border: 1px solid cadetblue;">
                <p>{{ item.stock.name }}</p>
                <p>Average Purchase Price: &dollar;{{ item.average_purchase_price }}</p>
                <p>Shares: {{ item.quantity }}</p>
            </div>
        {% empty %}
            <p>No investments!</p>
        {% endfor %}
    </div>
    <a href="{% url 'add_stock' request.user.profile.portfolio.pk %}">Add Position</a>
{% endblock %}