{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<main>
    <section class="portfolio top wrapper hidden">
        <p class="number">Invested: <span class="portfolio number">&dollar;{{ object.invested }}</span></p>
        <p class="number">Realised P&L: <span class="portfolio number">&dollar;{{ object.realised_pnl }}</span></p>
        <div class="wrapper history btns">
            <a href="{% url 'sales_details' object.owner_id object.pk %}" class="custom a">Sales History</a>
            <a href="{% url 'buys_details' object.owner_id object.pk %}" class="custom a">Buys History</a>
        </div>
    </section>
    <hr>
    <section class="middle-portfolio wrapper hidden">
        <a href="{% url 'add_stock' request.user.profile.portfolio.pk %}" class="custom a">Add New Position</a>
        <a href="{% url 'reset_portfolio' request.user.pk request.user.profile.portfolio.pk %}" class="custom a">Reset Portfolio</a>
    </section>
    <section class="quotes wrapper hidden">
        {% for item in object.portfolioitem_set.all %}
            <div class="investment-container wrapper">
                <div class="investment-row one wrapper">
                    <p class="stock symbol">{{ item.stock.symbol }}</p>
                    <p id="{{ item.stock.symbol }} avg_price" class="number center">Average Price: &dollar;{{ item.average_purchase_price }}</p>
                    <p id="{{ item.stock.symbol }} price" class="number">Current Price: &dollar;<span class="{{ item.stock.symbol }} current-price number"></span>
                    </p>
                </div>
                <div class="investment-row two wrapper">
                    <p class="lower">{{ item.stock.name }}</p>
                    <p id="{{ item.stock.symbol }} shares" class="number center lower">Shares: {{ item.quantity }}</p>
                    <p id="pnl text" class="number">P&L:
                        <span id="{{ item.stock.symbol }} pnl-percentage" class="{{ item.stock.symbol }} current-pnl number">-%</span>
                    </p>
                </div>
                <div class="refresh-btns wrapper">
                    <div class="refresh-btns-nested wrapper">
                        <button id="{{ item.stock.symbol }}btn" class="refresh btn btn-primary">Refresh Price</button>
                        <button id="{{ item.stock.symbol }} pnl-btn" class="{{ item.stock.symbol }} pnl btn btn-primary">Calculate P&L</button>
                    </div>
                </div>
                <div class="investment-btns wrapper">
                    <a href="{% url 'buy_stock' object.pk item.stock.symbol %}" class="btn btn-primary">Buy</a>
                    <a href="{% url 'sell_stock' object.pk item.stock.symbol %}" class="btn btn-primary">Sell</a>
                    <a href="{% url 'remove_stock' object.pk item.stock.symbol %}" class="btn btn-primary">Remove</a>
                </div>
            </div>
        {% empty %}
            <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 20px" class="hidden">
                <p class="stock symbol">No investments!</p>
                <a href="{% url 'add_stock' request.user.profile.portfolio.pk %}" class="custom a">Add New Position</a>
            </div>
        {% endfor %}
    </section>
</main>
    <script type="module" src="{% static 'js/refreshQuotes.js' %}"></script>
    <script type="module" src="{% static 'js/calculatePnl.js' %}"></script>
{% endblock %}type="module"