{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <h1>Portfolio Sales</h1>
    <p>Realised P&L: &dollar;{{ realised_pnl }}</p>
    <a href="{% url 'buys_details' profile_pk portfolio_pk %}">Buys History</a>
    <a href="{% url 'portfolio_details' portfolio_pk%}">Portfolio</a>
    <hr>
    {% for sale in object_list %}
        <p>Ticker Symbol: {{ sale.stock.symbol }}</p>
        <p>Name: {{ sale.stock.name }}</p>
        <p>Date: {{ sale.date }}</p>
        <p>Shares: {{ sale.quantity_sold }}</p>
        <p>Price: {{ sale.sale_price }}</p>
        <hr>
    {% empty%}
        <p>No sales recorded!</p>
    {% endfor %}
{% endblock %}