{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<section id="hero">
    <div class="top-hero wrapper hidden extra">
        <div class="top-inner-hero wrapper">
            <div class="top-left-hero wrapper">
                <h2 class="heading">
                    Track Your Portfolio <br><span class="emphasis">The Easy Way</span>
                </h2>
                <p class="hero-desc">
                    Single-handedly
                    <span class="emphasis desc">THE BEST</span>
                    tool to track your US investments
                    <span class="emphasis desc">EVER</span>
                </p>
                <a href="{% url 'register_user' %}">
                    <button class="btn btn-primary hero">Register Now</button>
                </a>
            </div>
            <div class="top-right-hero wrapper">
                <img src="{% static 'images/hero-image.jpg' %}"
                     alt="hero image"
                     class="hero image"
                     draggable="false"
                >
            </div>
        </div>
        <div class="top-bottom-hero wrapper">
            <p><span class="emphasis desc">Stop</span> using old
                books and Exel spreadsheets and go with
                <span class="emphasis desc">Portfolio&nbsp;Tracker</span>
            </p>
        </div>
    </div>
</section>
<div class="middle-hero-heading wrapper">
        <h2 class="middle-heading">Take a look</h2>
</div>
<section class="middle-hero wrapper" data-mouse-down-at="0" data-prev-percentage="0">
    <div id="image-track" class="wrapper">
        <img src="{% static 'images/image_track/portfolio.png' %}" alt="middle image" draggable="false" class="hidden extra">
        <img src="{% static 'images/image_track/register.png' %}" alt="middle image" draggable="false" class="hidden extra">
        <img src="{% static 'images/image_track/history.png' %}" alt="middle image" draggable="false" class="hidden extra">
        <img src="{% static 'images/image_track/profile.png' %}" alt="middle image" draggable="false" class="hidden extra">
        <img src="{% static 'images/image_track/buy.png' %}" alt="middle image" draggable="false" class="hidden extra">
    </div>
</section>
<section class="bottom-hero wrapper">
    <div class="bottom-hero-heading wrapper">
        <h3>Why Choose <span class="emphasis desc hidden">Portfolio&nbsp;Tracker</span></h3>
        <h2 class="hidden extra">
            <span class="emphasis">It's Easy</span>
        </h2>
    </div>
    <div class="grid hidden extra">
        <div class="grid-1-row">
            <div class="col wrapper">
                 <div class="box wrapper">
                    <p id="icon">icon</p>
                    <div class="box-text wrapper">
                        <p class="title">SELECT YOUR QUANTITY</p>
                        <p class="desc">Upload your crypto and set a title, description and price.</p>
                    </div>
                </div>
                <div class="box wrapper">
                    <p id="icon">icon</p>
                    <div class="box-text wrapper">
                        <p class="title">CONFIRM TRANSACTION</p>
                        <p class="desc">Earn by selling your crypto on our marketplace.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-2-row">
            <div class="col wrapper">
                <div class="box wrapper">
                    <p id="icon">icon</p>
                    <div class="box-text wrapper">
                        <p class="title">TAKE A MARKET TO SELL</p>
                        <p class="desc">Discover, collect the right crypto collections to buy or sell.</p>
                    </div>
                </div>
                <div class="box wrapper">
                    <p id="icon">icon</p>
                    <div class="box-text wrapper">
                        <p class="title">DRIVE YOUR COLLECTION</p>
                        <p class="desc">We make it easy to Discover, Invest and manage.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
