{% extends 'base.html' %}
{% block page_content %}
    <section class="heading wrapper">
        <h2>Register</h2>
    </section>
    <section class="bottom wrapper form">
        <form method="post" action="{% url 'register_user' %}" class="wrapper form" style="align-items: center;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </section>
{% endblock %}